*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.hero-nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px grey;
}
.hero-nav ul {
    list-style: none;
    display: flex;
    gap: 17px;
}
.hero-nav ul li a {
    font-size: 15px;
    text-decoration: none;
}

.course-section {
    padding: 10px;
    box-shadow: 0 4px 10px;
    margin-top: 30px;
    text-align: center;
}
.course-flex {
    gap: 15px;
    display: flex;
    width: 100%;
    padding: 10px;
}

.course-itself {
    padding: 10px;
    box-shadow: 0 4px 10px grey;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    height: 350px;
}
.course-flex img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
}
.course-itself-desc {
    margin-top: 30px;
}
.course-itself-desc a{
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
@media(max-width: 1115px) {
    .course-flex {
        justify-content: center;
        flex-wrap: wrap;
    }
}